@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

.Container {
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  display: block;
}
.header .header-top {
  width: 100%;
  background-color: #fff;
}
.header .header-top .roww {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.header .header-top .roww .header-top-left {
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
}
.header .header-top .roww .header-top-left .menu ul {
  display: flex;
  margin: 0 0 0 15px;
  padding: 0;
  justify-content: baseline;
}
.header .header-top .roww .header-top-left .menu ul li {
  margin: 0 25px 0 0;
}
.header .header-top .roww .header-top-left .menu ul li a {
  font-size: 12px;
  font-weight: 500;
  line-height: 3;
  color: #777;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  transition: 0.5s;
  text-decoration: none;
}
.header .header-top .roww .header-top-right {
  width: 40%;
}
.header .header-top .roww .header-top-right .info {
  margin-left: auto;
}
.header .header-top .roww .header-top-right .info ul {
  display: flex;
  align-items: center;
  justify-content: end;
  list-style: none;
  margin: 0;
}
.header .header-top .roww .header-top-right .info ul li {
  margin-left: 25px;
  align-items: center;
  margin-right: 0;
}
.header .header-top .roww .header-top-right .info ul li a {
  font-size: 12px;
  font-weight: 500;
  line-height: 3;
  color: #777;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  transition: 0.5s;
  text-decoration: none;
}
.header .header-top .roww .header-top-right .info ul li a div {
  position: relative;
}
.header .header-top .roww .header-top-right .info ul li a img {
  margin-top: 5px;
}
.header .header-top .roww .header-top-right .info ul li a img svg {
  overflow: hidden;
}
.header .header-top .roww .header-top-right .info ul li a span {
  margin-left: 5px;
}
.header .header-top .roww .header-top-right .info ul li a .watchlist-count,
.header .header-top .roww .header-top-right .info ul li a .compare-count {
  position: absolute;
  font-size: 12px;
  left: 20px;
  top: -5px;
  color: red;
}
.header .header-top .roww .header-top-right .info ul li:first-child {
  margin-left: 25px;
  margin-right: 0;
}
.header .header-top .roww .header-top-right .info ul li:first-child a {
  color: #099D0D;
  font-size: 14px;
  margin-left: 5px;
  text-decoration: none;
}
.header .header-top .roww .header-top-right .info ul li:nth-child(6) {
  margin-left: 10px;
}
.header .header-bottom {
  width: 100%;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.header .header-bottom .roww {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
}
.header .header-bottom .roww .section-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
}
.header .header-bottom .roww .section-menu .menu-icon {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  background-color: #fff;
  border-color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.header .header-bottom .roww .section-menu .menu-icon p {
  font-size: 14px;
  font-weight: 500;
  color: #282828;
  margin: 0 0 0 10px;
}
.header .header-bottom .roww .section-search {
  width: 40%;
}
.header .header-bottom .roww .section-search .form-group {
  margin-bottom: 0;
  position: relative;
}
.header .header-bottom .roww .section-search .form-group .form-control {
  display: block;
  width: 100%;
  height: 45px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.header .header-bottom .roww .section-search .form-group .title-search-input {
  border: 1px solid #d8d8d8;
  border-radius: 21px;
  padding: 11px 2px 11px 15px;
}
.header .header-bottom .roww .section-search .form-group .search {
  position: absolute;
  background-color: transparent;
  border: none;
  right: 30px;
  padding-left: 15px;
  border-left: 1px solid #d8d8d8;
  top: 0;
  height: 45px;
}
.header .header-bottom .roww .login-basket {
  display: block;
  max-width: 25%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: flex-end;
}
.header .header-bottom .roww .login-basket ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.header .header-bottom .roww .login-basket ul li {
  display: flex;
  height: 80px;
  align-items: center;
  padding: 0 10px;
  transition: 0.5s;
  position: relative;
}
.header .header-bottom .roww .login-basket ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header .header-bottom .roww .login-basket ul li a span {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
}
.header .header-bottom .roww .login-basket ul li a .cart_count {
  font-size: 10px;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  color: #ff003c;
  position: absolute;
  top: -2px;
  left: 8px;
  text-align: center;
  line-height: 18px;
  display: block !important;
}

.discountarea {
  background: #F3F3F3;
  width: 100%;
}
.discountarea .discount_container {
  padding: 5px 0px;
  text-align: center;
  font-weight: 700;
}
.discountarea .discount_container a {
  color: #253444;
  text-decoration: none;
}

.Modal-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(193, 190, 190, 0.4);
  z-index: 100;
}
.Modal-container .Modal-content {
  position: relative;
  display: flex;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  max-width: 96%;
  padding: 10px 20px 0 20px;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.Modal-container .Modal-content .roww {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.Modal-container .Modal-content .roww .paymentitem {
  width: 33%;
  padding: 40px;
}
.Modal-container .Modal-content .roww .paymentitem .lazy {
  width: 100%;
}

.MenuModal-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(193, 190, 190, 0.4);
  z-index: 100;
}
.MenuModal-container .MenuModal-content {
  position: relative;
  display: flex;
  margin-top: 123px;
  margin-left: 197px;
  flex-direction: column;
  width: 267px;
  height: 580px;
  max-width: 96%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.MenuModal-container .MenuModal-content .product-menu {
  width: 100%;
  margin-bottom: 0;
  background-color: #fff;
  position: relative;
  list-style: none;
  transition: 5s;
  padding: 0;
}
.MenuModal-container .MenuModal-content .product-menu .menuli {
  padding: 4px 10px;
  width: 100%;
  position: relative;
}
.MenuModal-container .MenuModal-content .product-menu .menuli .menuopen {
  position: absolute;
  width: 0;
  height: 590px;
  left: 100%;
  transition: 0.5s;
  background-color: #fff;
}
.MenuModal-container .MenuModal-content .product-menu .menuli .menuopen .menuopencontent {
  width: 100%;
  height: 100%;
  display: none;
}
.MenuModal-container .MenuModal-content .product-menu .menuli .menuopen .menuopencontent ul {
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
  align-content: flex-start;
  padding: 0 10px;
  min-height: 435px;
  overflow-y: auto;
  margin: 0;
}
.MenuModal-container .MenuModal-content .product-menu .menuli .menuopen .menuopencontent ul li {
  padding: 14px 10px 15px;
  width: calc(25% - 1px);
  background-color: transparent;
  border-radius: 0;
  transition: 0.5s;
  position: static;
  margin: 0;
}
.MenuModal-container .MenuModal-content .product-menu .menuli .menuopen .menuopencontent ul li a {
  font-size: 14px;
  letter-spacing: -0.32px;
  color: #545353;
}
.MenuModal-container .MenuModal-content .product-menu .menuli .menuopen .menuopencontent ul li a .menurightbanner {
  max-width: 100%;
  width: auto;
  float: right;
  max-height: 360px;
  padding-bottom: 10px;
}
.MenuModal-container .MenuModal-content .product-menu .menuli a:nth-child(1) {
  display: flex;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
}
.MenuModal-container .MenuModal-content .product-menu .menuli a:nth-child(1) .menuproducticon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}
.MenuModal-container .MenuModal-content .product-menu .menuli a:nth-child(1) .menuproducticon img {
  width: 22px;
  max-height: 30px;
}
.MenuModal-container .MenuModal-content .product-menu .menuli a:nth-child(1) span {
  width: 70%;
  font-size: 14px;
  letter-spacing: -0.32px;
  color: #545353;
  margin-left: 15px;
  width: 100%;
  position: relative;
}
.MenuModal-container .MenuModal-content .product-menu .menuli::after {
  content: "";
  position: absolute;
  width: calc(100% - 85px);
  opacity: 0.1;
  left: 50px;
  margin-top: 4px;
  border-bottom: 1px solid #253444;
}
.MenuModal-container .MenuModal-content .product-menu .menuli:hover {
  background-color: #eeeff2;
}
.MenuModal-container .MenuModal-content .product-menu .menuli:hover .menuopen {
  width: 891px;
}
.MenuModal-container .MenuModal-content .product-menu .menuli:hover .menuopen .menuopencontent {
  display: block;
}

footer {
  background-color: #253444;
  padding: 30px;
}
footer .roww:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
footer .roww:nth-child(1) .footerleft {
  flex: 0 0 66.6%;
  max-width: 66.6%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
footer .roww:nth-child(1) .footerleft .links {
  display: flex;
}
footer .roww:nth-child(1) .footerleft .links ul {
  margin: 0 80px 0 0;
  padding: 0;
}
footer .roww:nth-child(1) .footerleft .links ul li {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
footer .roww:nth-child(1) .footerleft .links ul li a {
  font-size: 12px;
  font-weight: 400 !important;
  color: #fff;
  transition: 0.5s;
  opacity: 1;
  text-decoration: none;
}
footer .roww:nth-child(1) .footerleft .links ul li:nth-child(1) {
  margin-bottom: 20px;
}
footer .roww:nth-child(1) .footerright {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
footer .roww:nth-child(1) .footerright .head6title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}
footer .roww:nth-child(1) .footerright .mob-title {
  display: none;
}
footer .roww:nth-child(1) .footerright .contact {
  padding-bottom: 20px;
  display: table;
}
footer .roww:nth-child(1) .footerright .contact div {
  display: table-cell;
}
footer .roww:nth-child(1) .footerright .contact .phone {
  transition: 0.5s;
  min-width: 120px;
}
footer .roww:nth-child(1) .footerright .contact .phone .icon {
  display: inline;
}
footer .roww:nth-child(1) .footerright .contact .phone .icon img {
  opacity: 1;
  transition: 0.5s;
  vertical-align: middle;
}
footer .roww:nth-child(1) .footerright .contact .phone .iconnomre {
  margin-right: 5px !important;
}
footer .roww:nth-child(1) .footerright .contact .phone .iconnomre img {
  height: auto;
  width: 17px !important;
  border-style: none;
}
footer .roww:nth-child(1) .footerright .contact .phone a {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}
footer .roww:nth-child(1) .footerright .contact .email-address {
  display: none;
}
footer .roww:nth-child(1) .footerright .contact .email-address a {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}
footer .roww:nth-child(1) .footerright .contact .location {
  margin-left: 30px;
}
footer .roww:nth-child(1) .footerright .contact .location .icon {
  display: inline;
  position: relative;
  margin-right: 10px;
}
footer .roww:nth-child(1) .footerright .contact .location a {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}
footer .roww:nth-child(1) .footerright .social-link {
  margin-top: 35px;
}
footer .roww:nth-child(1) .footerright .social-link .head6title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}
footer .roww:nth-child(1) .footerright .social-link ul {
  display: flex;
  margin: 0 0 0 -10px;
  padding: 0;
}
footer .roww:nth-child(1) .footerright .social-link ul li {
  display: inline-block;
  margin-right: 13px;
}
footer .roww:nth-child(1) .footerright .social-link ul li a {
  border: 1px solid #DADADA;
  color: #7D7D7D;
  height: 43px;
  width: 43px;
  display: block;
  text-align: center;
  line-height: 26px;
  transition: all 0.5s ease 0s;
}
footer .roww:nth-child(1) .footerright .social-link ul li:last-child {
  margin-right: 0px;
}
footer .roww:nth-child(1) .footerright .payment {
  margin-top: 35px;
}
footer .roww:nth-child(1) .footerright .payment ul {
  display: flex;
  padding: 0;
  margin: 0;
}
footer .roww:nth-child(1) .footerright .payment ul li {
  height: 40px;
  width: 80px;
  overflow: hidden;
  margin: 0 15px 0 0;
  padding: 0;
  border-radius: 4px;
}
footer .roww:nth-child(1) .footerright .payment ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
footer .roww:nth-child(2) .copy-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .roww:nth-child(2) .copy-right p {
  font-size: 14px;
  text-align: center;
  color: #fff;
}

#best-seller-similar {
  margin-top: 30px;
}
#best-seller-similar .daily-discount-inner {
  overflow-x: hidden;
  overflow-y: visible;
  padding-bottom: 65px;
  margin-bottom: -60px;
  position: relative !important;
}
#best-seller-similar .daily-discount-inner .section-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#best-seller-similar .daily-discount-inner .section-header .head1 {
  font-size: 26px;
  font-weight: 700;
  color: #282828;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
}
#best-seller-similar .daily-discount-inner .section-header .round-edge-tab {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  overflow: hidden;
  padding-left: 10px;
  padding-bottom: 0.5px;
  margin-bottom: 0;
  list-style: none;
}
#best-seller-similar .daily-discount-inner .section-header .round-edge-tab .nav-item {
  margin-right: 0;
  position: relative;
  margin-top: 2px;
  margin-bottom: -1px;
}
#best-seller-similar .daily-discount-inner .section-header .round-edge-tab .nav-item .nav-link {
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #282828;
  background-color: #edf1f5;
  position: relative;
  border: 1px solid #edf1f5;
  border-radius: 0;
  padding-right: 16px;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
#best-seller-similar .daily-discount-inner .section-header .round-edge-tab .nav-item .nav-link.active {
  background-color: #fff;
  border-top-color: #ebebeb;
  border-left-color: #ebebeb;
  border-bottom: none;
  z-index: 20;
  padding-right: 16px;
  border: 1px solid #fff;
}
#best-seller-similar .daily-discount-inner .section-header .round-edge-tab .nav-item::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 80%;
  width: 1px;
  top: 10%;
  right: 10px;
}
#best-seller-similar .daily-discount-inner .section-header .time {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
#best-seller-similar .daily-discount-inner .section-header .time li {
  text-align: center;
  padding: 5px 20px;
  background-color: #fff;
  font-size: 10px;
  color: #323232;
  position: relative;
  margin: 0;
}
#best-seller-similar .daily-discount-inner .section-header .time li p {
  font-size: 16px;
  margin-bottom: 0;
}
#best-seller-similar .daily-discount-inner .section-header .time li:after {
  content: "";
  position: absolute;
  border: 0.1px solid #777;
  height: 35%;
  top: 33%;
  right: 0;
}
#best-seller-similar .daily-discount-inner .section-header .time li:last-child:after {
  border: none;
}
#best-seller-similar .daily-discount-inner .topseller-section-header {
  margin-bottom: 0;
}
#best-seller-similar .daily-discount-inner .shop-slider {
  position: relative;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel {
  display: block;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.08);
  border-bottom: none;
  overflow-y: initial;
  margin-bottom: 60px;
  position: relative;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item {
  width: 250px;
  padding: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  transition: 0.5s;
  z-index: 99;
  overflow: hidden;
  margin: 0;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top {
  display: block;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .imgHolder {
  width: 100%;
  margin: 0 auto;
  padding-top: 90%;
  position: relative;
  height: 200px;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .imgHolder a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  max-width: 90%;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .imgHolder .lbl-percentage-grid-2022 {
  top: -6px;
  position: absolute;
  width: 100% !important;
  left: 0;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .imgHolder .lbl-percentage-grid-2022 .lbl-badge-2022 {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 153, 204);
  -o-border-image: initial;
     border-image: initial;
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  width: auto;
  margin-right: 2px;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .imgHolder .lbl-percentage-grid-2022 .lbl-badge-2022 p {
  color: rgb(0, 153, 204);
  font-size: 10px;
  font-weight: 500;
  padding: 1px 6px;
  margin: 0;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .imgHolder .lbl-percentage-grid-2022 .lbl-badge-2022-faizsiz {
  border: 1px solid #ff023c;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .imgHolder .lbl-percentage-grid-2022 .lbl-badge-2022-faizsiz p {
  color: #ff023c;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .imgHolder .lbl-percentage-grid-2022 .lbl-badge-2022-topsatilan {
  border: 1px solid #9c3;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .imgHolder .lbl-percentage-grid-2022 .lbl-badge-2022-topsatilan p {
  color: #9c3;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .name {
  min-height: 90px;
  position: relative;
  height: 45px;
  margin: 10px 0 30px;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .name a {
  font-size: 15px;
  font-weight: 700;
  color: #282828;
  text-align: center;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 20px;
  max-height: 40;
  text-decoration: none;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .name div {
  display: block;
  text-align: center;
  right: 0;
  width: 75% !important;
  padding: 4px 8px;
  gap: 10px;
  color: #fff;
  left: 12.5%;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .name div p {
  font-weight: 700 !important;
  margin: 0;
  color: rgba(254, 2, 60, 0.91);
  font-size: 12px;
  text-align: center;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .name div p small {
  font-weight: 700;
  font-size: 80%;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .cart-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .cart-footer p {
  font-size: 18px;
  font-weight: 700;
  color: #282828;
  margin: -20px 0 0 0;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .cart-footer p span:first-child {
  text-decoration: line-through;
  font-weight: normal;
  margin: 0 0 0 5px;
  font-weight: 400;
  color: #ff003c;
  -webkit-text-decoration-color: #ff003c !important;
          text-decoration-color: #ff003c !important;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .cart-footer p span:first-child small {
  font-size: 80%;
  font-weight: 400;
  font-family: JISAZNRegular;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .cart-footer p .nprice {
  margin: 0 0 0 5px;
  font-weight: 400;
  color: #ff003c !important;
  -webkit-text-decoration-color: #ff003c !important;
          text-decoration-color: #ff003c !important;
  font-weight: bold !important;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .cart-footer p .nprice small {
  font-size: 80%;
  font-weight: 400;
  font-family: JISAZNRegular;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .cart-footer button {
  margin: 0;
  padding: 0;
  background-color: #9c3;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  text-align: center;
  color: #fff;
  transition: 0.5s;
  width: 120px;
  height: 40px;
  font-size: 15px;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .cart-action {
  border-radius: 4.5px;
  border: 1px solid #e3e3e3;
  margin-top: 5px;
  overflow: hidden;
  display: none;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .cart-action button {
  background-color: transparent;
  border: none;
  padding: 10px 0;
  width: 23.33333%;
  transition: 0.5s;
  margin: 0;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .cart-action button .icon {
  position: relative;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  padding: 0;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .cart-action button .icon img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  opacity: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .cart-action button:nth-child(2) {
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .cart-action .textbasket {
  width: 53.33333%;
  line-height: 18px;
  background: #ff023c;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: #fff;
  font-weight: 500;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-body-top .cart-action .textbasket span {
  margin: 0;
  padding: 0;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-add {
  border: 1px solid #f0f1f2;
  border-top: 2px solid #f0f1f2;
  position: absolute;
  background-color: #fff;
  margin: 0;
  left: 0;
  width: 246.1px;
  right: 0;
  overflow-y: hidden;
  box-shadow: 1px 3px 11px rgba(0, 0, 0, 0.08);
  z-index: 999 !important;
  display: none;
  scrollbar-color: red;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-add ul {
  padding: 0 5px 0 20px;
  position: relative;
  margin: 0 10px;
  max-height: 70px;
  overflow: scroll;
  scrollbar-color: red;
  list-style: none;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-add ul li::before {
  content: "•";
  color: #e3e3e3;
  font-weight: 700;
  font-size: 15px;
  display: inline-block;
  width: 7px;
  height: 20px;
  margin-left: -1em;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-add ul li {
  font-size: 11px;
  color: #282828;
  display: flex;
  margin: 0;
  padding: 0;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-add ul li p {
  font-weight: 700;
  margin: 0 30px 0 5px;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-add ul li p span {
  margin: 0;
  padding: 0;
  margin-left: auto;
  text-align: right;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-add .action {
  display: flex;
  border-top: 2px solid #f0f1f2;
  margin: 0;
  padding: 0;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-add .action button {
  padding: 10px 14px;
  width: 50%;
  display: flex;
  align-items: center;
  border: none;
  font-size: 12px;
  font-weight: 700;
  color: #282828;
  background-color: transparent;
  transition: 0.5s;
  line-height: 1;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-add .action button .icon {
  position: relative;
  width: 20px;
  height: 15px;
  margin-right: 5px;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-add .action button .icon img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  opacity: 1;
  display: block;
  width: 100%;
  max-height: 23px;
  border-style: none;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item .cart-add .action button span {
  width: calc(100% - 20px);
  margin: 0;
  padding: 0;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item:hover {
  box-shadow: 2px 3.5px 24px 0 rgba(18, 16, 11, 0.31);
  cursor: pointer;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .cart-item:hover .cart-add {
  display: block;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .owl-nav {
  display: none;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .owl-dots {
  position: absolute;
  height: 60px;
  bottom: -60px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  margin: 10px 0 0 0;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .owl-dots .owl-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  width: 15px;
  zoom: 1;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
  background: #869791;
  flex: 0 0 auto;
  height: 8px;
  width: 8px;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .owl-dots .owl-dot.active span {
  background-color: red;
}
#best-seller-similar .daily-discount-inner .shop-slider .owl-carousel .owl-dots .owl-dot:hover span {
  background-color: red;
}
#best-seller-similar .daily-discount-inner .shop-slider .topseller_theme .owl-dots {
  display: none;
}
#best-seller-similar .daily-discount-inner .shop-slider .all-offers {
  position: absolute;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0;
  bottom: -60px;
  background-color: #f0f1f2;
  border: 2px solid rgba(0, 0, 0, 0.08);
}
#best-seller-similar .daily-discount-inner .shop-slider .all-offers a {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #282828;
  margin: 0 auto;
  transition: 0.5s;
  text-decoration: none;
}
#best-seller-similar .daily-discount-inner .shop-slider .all-offers:hover {
  background-color: #dc3545;
}
#best-seller-similar .daily-discount-inner .shop-slider .all-offers:hover a {
  color: white;
}

a {
  text-decoration: none;
}

#index {
  padding: 30px 0;
  z-index: 0;
}
#index .Container {
  padding-right: 15px;
  padding-left: 15px;
}
#index .Container .roww {
  display: grid;
  grid-template-columns: 1fr 4fr !important;
  grid-gap: 12px;
  align-items: stretch;
  margin-bottom: 0;
}
#index .Container .roww .menusidebar {
  border: 2px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
  position: relative;
  min-width: 219.6;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#index .Container .roww .menusidebar .MenuModal-content {
  position: relative;
  display: flex;
  margin-top: 0px;
  margin-left: 0px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.3rem;
  outline: 0;
}
#index .Container .roww .menusidebar .MenuModal-content .product-menu {
  width: 100%;
  margin-bottom: 0;
  background-color: #fff;
  position: relative;
  list-style: none;
  padding: 0;
}
#index .Container .roww .menusidebar .MenuModal-content .product-menu .menuli {
  padding: 4px 10px;
  width: 100%;
  position: relative;
}
#index .Container .roww .menusidebar .MenuModal-content .product-menu .menuli .menuopen {
  position: absolute;
  width: 0;
  height: 700px;
  left: 100%;
  transition: 0.5s;
  background-color: #fff;
  z-index: 999;
}
#index .Container .roww .menusidebar .MenuModal-content .product-menu .menuli .menuopen .menuopencontent {
  width: 100%;
  height: 100%;
  display: none;
}
#index .Container .roww .menusidebar .MenuModal-content .product-menu .menuli .menuopen .menuopencontent ul {
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
  align-content: flex-start;
  padding: 0 10px;
  min-height: 435px;
  overflow-y: auto;
  margin: 0;
}
#index .Container .roww .menusidebar .MenuModal-content .product-menu .menuli .menuopen .menuopencontent ul li {
  padding: 14px 10px 15px;
  width: calc(25% - 1px);
  background-color: transparent;
  border-radius: 0;
  transition: 0.5s;
  position: static;
  margin: 0;
}
#index .Container .roww .menusidebar .MenuModal-content .product-menu .menuli .menuopen .menuopencontent ul li a {
  font-size: 14px;
  letter-spacing: -0.32px;
  color: #545353;
}
#index .Container .roww .menusidebar .MenuModal-content .product-menu .menuli .menuopen .menuopencontent ul li a .menurightbanner {
  max-width: 100%;
  width: auto;
  float: right;
  max-height: 360px;
  padding-bottom: 10px;
}
#index .Container .roww .menusidebar .MenuModal-content .product-menu .menuli a:nth-child(1) {
  display: flex;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
}
#index .Container .roww .menusidebar .MenuModal-content .product-menu .menuli a:nth-child(1) .menuproducticon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}
#index .Container .roww .menusidebar .MenuModal-content .product-menu .menuli a:nth-child(1) .menuproducticon img {
  width: 22px;
  max-height: 30px;
}
#index .Container .roww .menusidebar .MenuModal-content .product-menu .menuli a:nth-child(1) span {
  width: 70%;
  font-size: 14px;
  letter-spacing: -0.32px;
  color: #545353;
  margin-left: 15px;
  width: 100%;
  position: relative;
}
#index .Container .roww .menusidebar .MenuModal-content .product-menu .menuli::after {
  content: "";
  position: absolute;
  width: calc(100% - 85px);
  opacity: 0.1;
  left: 50px;
  margin-top: 4px;
  border-bottom: 1px solid #253444;
}
#index .Container .roww .menusidebar .MenuModal-content .product-menu .menuli:hover {
  background-color: #eeeff2;
}
#index .Container .roww .menusidebar .MenuModal-content .product-menu .menuli:hover .menuopen {
  width: 892px;
}
#index .Container .roww .menusidebar .MenuModal-content .product-menu .menuli:hover .menuopen .menuopencontent {
  display: block;
}
#index .Container .roww .discountsidebar {
  display: grid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  grid-template-rows: 4fr 1fr;
  gap: 10px;
}
#index .Container .roww .discountsidebar .discountsidebartop {
  display: grid;
  grid-template-columns: 18fr 7fr;
  align-items: stretch;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopslider {
  display: grid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 10px;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopslider .discountsidebartopslidertop {
  min-width: 649.8px;
  border: solid 2px rgba(0, 0, 0, 0.08);
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopslider .discountsidebartopslidertop .carousel-item {
  height: 100%;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopslider .discountsidebartopsliderbottom {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopslider .discountsidebartopsliderbottom #delivery-info {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
  padding: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopslider .discountsidebartopsliderbottom #delivery-info .delivery-container {
  visibility: visible;
  width: 100%;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopslider .discountsidebartopsliderbottom #delivery-info .delivery-container .deliverycon {
  position: relative;
  overflow: hidden;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopslider .discountsidebartopsliderbottom #delivery-info .delivery-container .deliverycon .owl-stage {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopslider .discountsidebartopsliderbottom #delivery-info .delivery-container .deliverycon .owl-stage .delivery-item {
  width: 30%;
  margin-right: 3%;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopslider .discountsidebartopsliderbottom #delivery-info .delivery-container .deliverycon .owl-stage .delivery-item .item {
  width: 100%;
  height: 90px;
  text-align: center;
  margin-top: auto;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopslider .discountsidebartopsliderbottom #delivery-info .delivery-container .deliverycon .owl-stage .delivery-item .item .img-box {
  width: 40px;
  height: 40px;
  margin: 5px auto;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopslider .discountsidebartopsliderbottom #delivery-info .delivery-container .deliverycon .owl-stage .delivery-item .item .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopslider .discountsidebartopsliderbottom #delivery-info .delivery-container .deliverycon .owl-stage .delivery-item .item p {
  color: #444;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 15px;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopslider .discountsidebartopsliderbottom #delivery-info .delivery-container .deliverycon .owl-stage .delivery-item .item .h4title {
  font-size: 12px;
  font-weight: 700;
  color: #253444;
  margin-bottom: 0;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright {
  height: 560px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer {
  margin: 0;
  padding: 0;
  border: 2px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
  height: 100%;
  padding-bottom: 39px;
  position: relative;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body {
  margin: 15px 10px;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .label {
  margin: 0;
  padding: 0;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .label .head1 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #282828;
  padding: 0;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .time {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .time li {
  text-align: center;
  padding: 5px 20px;
  background-color: #fff;
  font-size: 10px;
  color: #323232;
  position: relative;
  margin: 0;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .time li p {
  font-size: 16px;
  margin-bottom: 0;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .time li:after {
  content: "";
  position: absolute;
  border: 0.1px solid #777;
  height: 35%;
  top: 33%;
  right: 0;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .time li:last-child:after {
  border: none;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item .lbl-percentage-grid-2022 {
  top: -6px;
  position: absolute;
  width: 100% !important;
  left: 0;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item .lbl-percentage-grid-2022 .lbl-badge-2022 {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 153, 204);
  -o-border-image: initial;
     border-image: initial;
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  width: auto;
  margin-right: 2px;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item .lbl-percentage-grid-2022 .lbl-badge-2022 p {
  color: rgb(0, 153, 204);
  font-size: 10px;
  font-weight: 500;
  padding: 1px 6px;
  margin: 0;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item .lbl-percentage-grid-2022 .lbl-badge-2022-faizsiz {
  border: 1px solid #ff023c;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item .lbl-percentage-grid-2022 .lbl-badge-2022-faizsiz p {
  color: #ff023c;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item .lbl-percentage-grid-2022 .lbl-badge-2022-topsatilan {
  border: 1px solid #9c3;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item .lbl-percentage-grid-2022 .lbl-badge-2022-topsatilan p {
  color: #9c3;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item .img-holder {
  width: 80%;
  margin: 0 auto;
  padding-top: 100%;
  position: relative;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item .img-holder a {
  margin: 10px auto;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #282828;
  max-width: 80%;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 20px;
  max-height: 40;
  margin: 0;
  height: 0;
  padding: 0;
  text-decoration: none;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item .img-holder a img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item a {
  margin: 10px auto;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #282828;
  max-width: 80%;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 20px;
  max-height: 40;
  text-decoration: none;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item .dailyofferslideprice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  border-top: 1px solid #f0f1f2;
  border-bottom: 1px solid #f0f1f2;
  position: relative;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item .dailyofferslideprice .gridprice {
  margin: 0;
  padding: 0;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item .dailyofferslideprice .gridprice span {
  text-decoration: line-through;
  font-weight: normal;
  -webkit-text-decoration-color: #ff003c !important;
          text-decoration-color: #ff003c !important;
  margin: 0;
  padding: 0;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item .dailyofferslideprice .gridprice span small {
  font-family: JISAZNRegular;
  font-size: 80%;
  font-weight: 400;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item .dailyofferslideprice .gridprice .nprice {
  color: #ff003c;
  font-weight: bold !important;
  text-decoration: none;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item .dailyofferslideprice .cart-button {
  padding-left: 5px;
  width: 50%;
  display: flex;
  margin: 0;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .item .dailyofferslideprice .cart-button .btn-add-to-cart {
  cursor: pointer;
  background-color: #9c3;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  text-align: center;
  color: #fff;
  transition: 0.5s;
  position: relative;
  width: 95px !important;
  height: 30px !important;
  font-size: 14px;
  margin: 0 auto;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .owl-nav {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  margin-top: 2px;
  text-align: center;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  z-index: 1;
  top: 80px;
  left: -10px;
  height: 40px;
  width: 40px;
  background-color: transparent;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .owl-nav .owl-next {
  position: absolute;
  z-index: 1;
  top: 80px;
  right: -10px;
  height: 40px;
  width: 40px;
  background-color: transparent;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  margin-top: 10px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .owl-dots .owl-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  width: 15px;
  zoom: 1;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
  background: #869791;
  flex: 0 0 auto;
  height: 8px;
  width: 8px;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .owl-dots .owl-dot.active span {
  background-color: red;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .offer-card-body .owl-carousel .owl-dots .owl-dot:hover span {
  background-color: red;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .all-offers {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f1f2;
  padding: 10px;
  display: flex;
  transition: 0.5s;
}
#index .Container .roww .discountsidebar .discountsidebartop .discountsidebartopright #daily-offer .all-offers a {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #282828;
  margin: 0 auto;
  transition: 0.5s;
  text-decoration: none;
}
#index .Container .roww .discountsidebar .discountsidebarbottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: stretch;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#index .Container .roww .discountsidebar .discountsidebarbottom .discountsidebarbottomleft {
  width: 100%;
  max-height: 180px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
#index .Container .roww .discountsidebar .discountsidebarbottom .discountsidebarbottomleft img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
#index .Container .roww .discountsidebar .discountsidebarbottom .discountsidebarbottomright {
  width: 100%;
  max-height: 180px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
#index .Container .roww .discountsidebar .discountsidebarbottom .discountsidebarbottomright img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
#index #partners {
  margin-top: 50px;
  position: relative;
  max-width: 1500px;
  margin: 50px auto 0;
}
#index #partners .partnerheader {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#index #partners .partnerheader .head1 {
  font-size: 26px;
  font-weight: 700;
  color: #282828;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
}
#index #partners .Container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#index #partners .Container .partners-carousel {
  position: relative;
  border: solid 1px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  display: flex;
  flex-direction: row;
}
#index #partners .Container .partners-carousel .owl-carousel {
  padding: 30px 0;
  width: 100%;
}
#index #partners .Container .partners-carousel .owl-carousel .owl-dots {
  display: none;
}
#index #partners .Container .partners-carousel .owl-carousel .item {
  width: 129.8px;
  margin-right: 10px;
  padding: 15px;
}
#index #partners .Container .partners-carousel .owl-carousel .item img {
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  display: block;
}
#index #partners .Container .partners-carousel .owl-carousel .owl-nav {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  margin-top: 2px;
  text-align: center;
}
#index #partners .Container .partners-carousel .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  border: none;
  z-index: 1;
  height: 160px;
  border-radius: 0;
  background-color: #fff;
  margin: 0;
  top: -2px;
  width: 40px;
  color: gray;
  font-size: 14px;
  padding: 4px 7px;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  left: 0;
}
#index #partners .Container .partners-carousel .owl-carousel .owl-nav .owl-prev svg {
  overflow: hidden;
  vertical-align: middle;
  width: 40;
  height: 40;
}
#index #partners .Container .partners-carousel .owl-carousel .owl-nav .owl-next {
  position: absolute;
  border: none;
  z-index: 1;
  height: 160px;
  border-radius: 0;
  background-color: #fff;
  margin: 0;
  top: -2px;
  width: 40px;
  right: 0;
}
#index #partners .Container .partners-carousel .owl-carousel .owl-nav .owl-next svg {
  overflow: hidden;
  vertical-align: middle;
  width: 40;
  height: 40;
}