    <!--Discount Area Start-->
<section class="discountarea">
    <div class=" discount_container">
        <a href="https://kontakt.az/kampaniyani-izle/?id=su0001624&amp;source=kontakt.az&amp;Medium=az_home-banner_banner&amp;campaign=kampaniyani_izle&amp;term=click-tracking_all_az_01.08.2023&amp;content=kampaniyani_izle_page">
            Əsl
            baxılası kampaniya Kontakt-da! 13 avqustadək hissəli alışda 24 ayadək faizsiz təkliflər, nağd alışda
            <span style="color:red">-50%-dək endirimlər var!</span>
        </a>
    </div>
</section>
<!--Discount Area End-->
<!--Page Map area Start-->
<section id="header-breadcrumb">
    <div class="Container">
        <div class="roww">
            <div class="htmlmap">
                <ul>
                    <li><a href="../html/home.html">Əsas səhifə</a></li>
                    <li> Smartfonlar və Aksesuarlar</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="header-breadcrumb-after"></div>
</section>
<!--Page Map Area End-->

<main>

    <section id="category-widget-main">
        <div class="Container">
            <div class="container__elem container__elem--15">
                <div class="cont__top cont__top--catalog">
                    <div class="catalog__item catalog__item--1">
                        <h1>Telefoniya</h1>
                    </div>
                </div>
                <div class="cont__bottomM">
                    <div class="cont__bottomMTOP">
                        <div class="catalog__item catalog__item--1">
                            <h1>Telefoniya</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="category Container">
            <div class="category-list">
                <a href="~/product" style="text-decoration:none;">
                    <picture>
                        <source srcset="https://kontakt.az/media/catalog/category/New_Project_-_2023-07-31T105041.940.png"
                                type="image/webp">
                        <source srcset="https://kontakt.az/media/catalog/category/New_Project_-_2023-07-31T105041.940.png"><img src="https://kontakt.az/media/catalog/category/New_Project_-_2023-07-31T105041.940.png"
                                                                                                                                alt="Smartfonlar" width="70" height="70">
                    </picture>
                    <span>Smartfonlar</span>
                </a>
            </div>
            <div class="category-list" >
                <a href="https://kontakt.az/az/telefoniya/telefonlar/duymeli-telefonlar" style="text-decoration:none;">
                    <picture>
                        <source srcset="https://kontakt.az/media/amasty/webp/catalog/category/New_Project_84__jpg.webp"
                                type="image/webp">
                        <source srcset="https://kontakt.az/media/catalog/category/New_Project_84_.jpg"><img src="https://kontakt.az/media/catalog/category/New_Project_84_.jpg"
                                                                                                            alt="Düyməli telefonlar" width="70" height="70">
                    </picture>
                    <span>Düyməli telefonlar</span>
                </a>
            </div>
            <div class="category-list">
                <a href="https://kontakt.az/az/telefoniya/telefonlar/stasionar-telefonlar">
                    <picture>
                        <source srcset="https://kontakt.az/media/amasty/webp/catalog/category/New_Project_3__jpg.webp"
                                type="image/webp">
                        <source srcset="https://kontakt.az/media/catalog/category/New_Project_3_.jpg"><img src="https://kontakt.az/media/catalog/category/New_Project_3_.jpg"
                                                                                                           alt="Stasionar telefonlar" width="70" height="70">
                    </picture>
                    <span>Stasionar telefonlar</span>
                </a>
            </div>
            <div class="category-list">
                <a href="https://kontakt.az/az/telefoniya/telefon-aksessuarlari">
                    <img src="https://kontakt.az/media/catalog/category/New_Project_-_2023-08-02T092344.826.png"
                         alt="Telefon aksessuarları" width="70" height="70">
                    <span>Telefon aksessuarları</span>
                </a>
            </div>
            <div class="category-list">
                <a href="https://kontakt.az/az/saatlar-ve-qulaqliqlar/qulaqliqlar">
                    <picture>
                        <source srcset="https://kontakt.az/media/amasty/webp/catalog/category/New_Project_24__jpg.webp"
                                type="image/webp">
                        <source srcset="https://kontakt.az/media/catalog/category/New_Project_24_.jpg"><img src="https://kontakt.az/media/catalog/category/New_Project_24_.jpg"
                                                                                                            alt="Qulaqlıqlar" width="70" height="70">
                    </picture>
                    <span>Qulaqlıqlar</span>
                </a>
            </div>
            <div class="category-list">
                <a href="https://kontakt.az/az/saatlar-ve-qulaqliqlar/qulaqliq-aksessuarlari">
                    <img src="https://kontakt.az/media/catalog/category/New_Project_-_2023-08-02T092823.484.png"
                         alt="Qulaqlıq aksessuarları" width="70" height="70">
                    <span>Qulaqlıq aksessuarları</span>
                </a>
            </div>
        </div>
    </section>

</main>